# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_MANUFACTURER="SlimeVR"
CONFIG_USB_DEVICE_PRODUCT="SlimeVR ZannenSmol"

CONFIG_BATTERY_USE_REG_LDO_MAPPING=y
CONFIG_SENSOR_ROTATION_270=y

#generate for adafruit uf2 bootloader flashing
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_FLASH_LOAD_OFFSET=0x1000

# ZannenSmol button layout: 1=Reset, 2=Calibration, 3=Mag Calibration, Hold=Deep Sleep
CONFIG_USER_EXTRA_ACTIONS=y
CONFIG_USER_SHUTDOWN=y
CONFIG_BUTTON_ZANNENSMOL_LAYOUT=y

# Enable magnetometer by default and auto-calibration
CONFIG_SENSOR_USE_MAG=y
CONFIG_MAG_AUTO_CALIBRATION=y
